@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Handlee|Montserrat:400,700&subset=latin-ext');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Handlee', cursive;

*/


*{
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

.row:after{
	content: "";
	height: 0px;
	display: block;
	clear: both;
}

h1{
	font-size: 
}

.container-fluid{
	width: 100%;
}

.container{
	max-width: 1100px;
	margin: 0 auto;
}

/*hero */

header .submenu{
	background-color: #21242e;
	color: white;
	text-align: left;
	padding: 20px 0px;

}

header .submenu .container div{
	width: 25%;
	float: left; 
	padding-left: 20px;

}

header .submenu a{
	color: white;
	text-decoration: none;
}

header .submenu a:hover{
	color: #fa573a;
}

header .submenu .container div:last-child{
text-align: right;
}

header .submenu i{
	color: #fa573a;
	margin-right: 5px;
}

header .submenu .container div:nth-child(3){
text-align: right;
}

header nav{
	background-color: white;
	padding: 20px 0px;

}

header nav .logo {
	width: 100px;
	height: auto;
	float: left;
}

header nav .menu {
	float: right;
	padding-top: 5px;

}

header nav .menu li{
	display:  inline-block;
	margin-left: 15px;
}

header nav a{
	text-decoration: none;
	color: #666;
}

header nav a:hover{
	color: #fa573a;
}

header nav .activo{
	color: #fa573a;
}

img{
	width: 100%;
	height: auto;
}

/* Fin de header*/

/*inicio de Hero*/

.hero{

	background-image: url(../images/hamburguesa-de-mijo-con-pan.jpg);
	background-color: #444;
	height: 600px; 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center right;
	background-blend-mode: soft-light;
}

.hero>div{
	padding: 12% 15%;
	color: white;
}

.hero>div h2{
	font-size: 250%;
	font-family: 'Handlee', cursive;
	
}

.hero>div h3{
	margin: 20px 0px;
	font-size: 1.25em;
	color: #fa573a;
}

.hero>div div a{
	background-color: #fa573a;
	color: white;
	text-decoration: none;
	padding: 15px;
	display: inline-block;
	margin: 20px 0px;
	border: 2px solid #fa573a;
}

.hero>div div a:hover{
	background-color: transparent;
	color: #fa573a;
	border: 2px solid #fa573a;
	
}

.hero .social li{
	display: inline-block;
	margin-right: 30px;
	font-size: 24px;
}

.hero .social li a {
	color:white;
}